

.form_conteiner{	
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;	
	flex-direction: column;
	height: 100vh;
	padding: 1rem;
}

.conteiner_form{
	display: grid;	
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	row-gap: .5rem;
	column-gap: 0.2rem;
	color: black;		
	position: absolute;
	z-index: 20;
	border: solid 3px black;
	background-color: white;
	padding: 0.5em;
	border-radius: 1.5rem;
}

.container_grid{
	padding:0.5rem;
}
.container_input{
	padding: .2rem;
}

.container_products{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-content: center;

}

