.Style__container{
	background-color: white;
	color: black;
	margin: 0.01rem;
	padding: 1rem;
	width: 13rem;
	height: auto;
	border-radius: 1em;
}

.text__Card_label{
	font-weight: bold;
	margin-right: .2em;
	font-size: 0.8em ;
	
}

.text__Card_value{
	font-size: 0.7em ;
	
}

.text__Card_title{
	font-weight: bold;
	color: #15aa99;
	font-size: 1em;
	height:'5rem';
	overflow-y: 'auto';
	word-break: 'break-word';
	text-align: center;
	border-bottom: solid 3px  #201853;	;
}



