@import './Styles/Swiper.css';
@import './components/SellerList/SellerList.css';
@import './components/Header/Header.css';
@import './components/Footer/Footer.css';
@import './components/Details/Detail.css';
@import './components/Details/LineItem/LineItem/LineItem.css';
@import './components/SellerList/Seller/Seller.css';
@import './components/Header/Header.css';
@import './components/Form/Form.css';
@import './components/Products/ProductsList.css';
 

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #201853;
	font-size: 1.2rem;
	color: white;
	min-height: 100vh;
}

.main_container{
	width: 95%;
	margin: 0 auto;
	padding: 0 40px;
}

.full-heigh-grow{
	display: flex;
	flex-direction: column;
}


